/*
***************************************
        VARIÁVEIS E MIXINS
****************************************            
*/



$blue-background: #1d5a99;
$light-gray:#fcfcfc;
$dark-gray:#bdbec0;
$font-size-desktop:15px;
$size-h1:33px;
$size-h2:25px;
$size-h3:18px;
$size-p:13px;
$size-button:16px;


.container{
   
    width: 85%;
    margin: 5px auto;
}

/*
***************************************
            GERAL
****************************************            
*/
ul, li, :any-link{
    list-style: none;
    text-decoration: none;
    padding:0;
    margin:0;
    font-size:1.5vw
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width:100%;
}

/*
***************************************
            HEADER
****************************************            
*/


header{
    background-image: linear-gradient(to right, $dark-gray, $light-gray, $dark-gray);
    .social-menu{
        display:grid;
        grid-template-columns: 1fr 1fr;
        .first-menu{
            color:$blue-background;
            padding: 24px 11px 5px 19px;
            a {
                margin: 5px;
                padding-right: 20px;
                border-right: 1px solid;
                font-size: 1.7vw;
            }
            a:nth-last-child(1){
                border-right: none;
            }
        }
        .social-media{
            padding: 50px 44px 5px 44px;
            display: flex;
            justify-content: space-around;
            a img{
                width: 58%;
                min-width:25px
               
            }
        }
    }
    
    
    .search{
        display:grid;
       grid-template-columns: 1fr 1fr;
       padding:20px;
       justify-items: center;
        img{
            width: 65%;
           
        }
        form{
            position: relative;
            display:flex;          

            input{              
                width: 32vw;              
                border-radius: 10px;
                text-align: center;
                border:none;     
                font-size: 2vw;
            }
            i{
                color: white;
                font-size: 1vw;
                background:$blue-background;
                cursor:pointer;
                width:4vw;
                font-size:2vw;
                text-align:center;
                padding:1vw;
                border-radius:7px;
                position:absolute;
                top:0px;
                left:27vw;
            }            
        }

      
    }    
}
/*
***************************************
            MAIN MENU
****************************************            
*/
.main-menu{
    ul{
        display:flex;
        li{
            border:solid 1px black;
            flex-grow: 1;
            text-align: center;
            padding: 5px 10px;
            background:$blue-background;            
            
            a{
                color:white;
            }
        }
        .submenu{
              
            position: relative;
            z-index:10;
            ul{
                opacity: 0;
                display: block;
                position: absolute;
                top: 29px;
                left: -5px;
                padding:5px;            
                transition: .3s;        
                }

                
        }
        .submenu:hover ul{
            opacity:1;
        }               

        
    }
}
/*
***************************************
           CARROSSEL
****************************************            
*/

    .slide-img{
        img{
            display:none;
            position: relative;
            top:3px
        }
        .bullets {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fit, 40px);
            gap: 5px;
            place-content: center;
            width: 100%;
            bottom: 40px;
            padding: 0;
            margin-bottom: 40px;
            list-style: none;
            top:25px;
            
            li {
                width: 1.5vw;
                height: 1.5vw;
                border-radius: 9px;
                background-color: white;
                border:solid 1px black;
                cursor: pointer;
            }
        }
    }
  

.active{
    display:block!important;
    animation: showSlide 1s
}
@keyframes showSlide{
    from{
        opacity: 0;
        transform: translate3d(-30px,0,0)
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0)
    }
}
.change-color{
    background:$blue-background !important;
}



/*
***************************************
           CONTENT page 1
****************************************            
*/
.content{
    background:white;
    article{
        text-align: center;
        h2{
            color:$blue-background;
            font-size:2.5vw
        }
        p{
            width: 60%;
            margin:10px 15%;
            font-size:2vw
        }
    }
    figure{
        display:flex;
        flex-wrap: wrap;
        padding: 20px;
        img{
            width: 30%;
            min-width: 140px;
            margin: 1% auto;
        }
    }
}

/*
***************************************
           CONTENT page 2
****************************************            
*/
.content-page2{
    background:white;
    text-align: left;
    padding: .5rem 3rem;
    font-size: 1.5vw;
    
    h2{
        color:$blue-background;
        font-size:3vw;
        text-align: center;
    }
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        img{
            margin: 10px 0px;
        }
        div{
            margin: 2px 21px;
           
        }
    }
   
}
/*
***************************************
           CONTENT page 3
****************************************            
*/
.content-page3{
    background:white;
    text-align: left;
   article{
       h1{
           color:$blue-background;
           font-size:6vw;      
       }
       h2{
        font-size: 4vw; 
       }
       p{
           font-size:1.5vw;
       }

   }
    div{
        display: flex;
        button{
            flex-grow: 1;
           
            background:#828388;
            color:white;
            font-size:1.5vw;
        }
    }
}

/*
***************************************
           CONTENT page 4
****************************************            
*/
.content-page4{
    background:white;
    text-align: left;
    padding: .5rem 3rem;
    h1{
        color:$blue-background;
        font-size:5vw;      
        margin: 5px;
    }
    p{
        font-size:2vw;      
    }
    h2{
        font-size:$size-h2;
    }
    ul{
        padding: 5px 20px;
        li{
            list-style: disc;
        }
    }
    div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        img{
            max-width: 445px;
            width: 40%;
            margin: 10px 5%;
        }
       
    }
}

/*
***************************************
           CONTENT page 5
****************************************            
*/
.content-page5{
    background:white;
    text-align: left;
    padding: .5rem 1rem;
    h1{
        color:$blue-background;
        font-size:5vw;      
    }    
    p{
        font-size:1.5vw;
    }
    div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
        img{
            min-width: 75pxpx;     
            width: 22%;   
            margin: 5px auto;  
            
        }       
    }
}

/*
***************************************
           FOOTER
****************************************            
*/
    footer{
      
        background:#1d5a99;
        display: flex;
        div{
        
            flex-grow: 1;
            width: 30%;
            margin: 60px 3px;
            border-right:solid white 1px;
        
            img{
                width: 62%;
            }
            li, p{
                color:white;
                font-size:1.5vw
            }
            h1,h2{
                color:white;
                margin:3px;
                font-size:2vw;
                margin: 2px 2px 18px 2px;
            }         
            li{
                margin:20px;
                font-size:$font-size-desktop;
                font-size:1.5vw
            }
            article{
            margin-top:20px;
                p{
                    font-size:$font-size-desktop;
                    margin:3px;
                    font-size:1.5vw
                }            
            }
            span{
                display: flex;
                img{
                    flex-grow: 1;
                    max-width: 40px;
                    min-width: 13px;
                    margin: 4%;
                }
            }
        }
        div:nth-last-child(1){
            border-right:none;
        }

    }
/* ***************************************
            MOBILE HEADER
****************************************            
*/
@media(max-width:600px){
    header{
        .social-menu{         
          display:flex;
          flex-direction: column;
        .first-menu{
            display: flex;
            justify-content: space-around;
            a {
                font-size: 2vw;
            }
        }
        .social-media{
            padding: 10px 44px 5px 44px;
           
            a img{
                width: 34%;
                min-width:25px
               
            }
        }
        }

    }
}
/*
***************************************
          MOBILE CONTENT page 2
****************************************            
*/
@media(max-width:900px){
    .content-page2{
        padding:0;
        article{
            display: flex;
           flex-direction: column;
           padding:4px;
           div{
               margin:0;
           }
        }
    }
}
/*
***************************************
           MOBLE FOOTER
****************************************            
*/
@media(max-width:400px){
    footer{
        div{
            margin: 30px 3px;
        }
    }
}

